<a href="https://colab.research.google.com/github/BibikaShrestha/AI-Worksheets/blob/main/AIWorksheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem 1

In [ ]:
#1
import pandas as pd

df = pd.read_csv("bank.csv")
df.head()

In [ ]:
#2a
object_cols = df.select_dtypes(include="object").columns
object_cols
#2b
for col in object_cols:
    print(f"\nColumn: {col}")
    print(df[col].unique())
#2c
df.isnull().sum()

In [ ]:
#3
df_numeric = df.drop(columns=object_cols)
df_numeric.to_csv("banknumericdata.csv", index=False)

In [ ]:
#4
df_new = pd.read_csv("banknumericdata.csv")
df_new.describe()

PROBLEM-2

In [ ]:
#1
df = pd.read_csv("medical_student.csv")
df.head()

In [ ]:
#2
df.isnull().sum()

In [ ]:
#3
#Numeric columns → fill with median
num_cols = df.select_dtypes(include=['int64','float64']).columns

for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

#Categorical columns → fill with mode
cat_cols = df.select_dtypes(include='object').columns

for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
#4
df.duplicated().sum()
df = df.drop_duplicates()

3.2 — DATA CLEANING & TRANSFORMATION (TITANIC DATASET)

In [ ]:
df = pd.read_csv("titanic.csv")
df.head()

In [ ]:
#problem 1
subset = df[['Name','Pclass','Sex','Age','Fare','Survived']]
first_class = subset[subset['Pclass'] == 1]

mean_fare = first_class['Fare'].mean()
median_fare = first_class['Fare'].median()
max_fare = first_class['Fare'].max()
min_fare = first_class['Fare'].min()

mean_fare, median_fare, max_fare, min_fare

In [ ]:
# Problem 2

In [ ]:
first_class['Age'].isnull().sum()
first_class = first_class.dropna(subset=['Age'])

In [ ]:
#Problem 3
embarked_dummies = pd.get_dummies(df['Embarked'], prefix='Embarked')
df2 = pd.concat([df, embarked_dummies], axis=1)
df2 = df2.drop(columns=['Embarked'])
df2.head()

In [ ]:
#Problem 4
df.groupby('Sex')['Survived'].mean()
import matplotlib.pyplot as plt

df.groupby('Sex')['Survived'].mean().plot(kind='bar')
plt.title("Survival Rate by Gender")
plt.ylabel("Mean Survival Rate")
plt.show()

In [ ]:
#Problem 5
df.groupby('Embarked')['Survived'].mean()
df.groupby('Embarked')['Survived'].mean().plot(kind='bar')
plt.title("Survival Rate by Port of Embarkation")
plt.ylabel("Mean Survival Rate")
plt.show()